# Server Configuration
PORT=8080
GIN_MODE=debug
{{if .HasMongoDB}}

# MongoDB
MONGODB_CONNECTION_URL=mongodb://localhost:27017/{{.ProjectName}}
{{end}}
{{if .HasPostgres}}

# PostgreSQL
POSTGRES_CONNECTION_URL=postgres://user:password@localhost:5432/{{.ProjectName}}
{{end}}
{{if .IncludeAuth}}

# JWT Authentication
JWT_SECRET=your-secret-key-here
{{end}}
